name: Test Custom DOTNET_INSTALL_DIR

on: workflow_dispatch

jobs:
  test-dotnet-root:
    runs-on: macos-latest

    env:
      DOTNET_INSTALL_DIR: /Users/runner/custom-dotnet   # custom location

    steps:
      - name: Show initial DOTNET_ROOT from image
        run: echo "Before Action:DOTNET_ROOT=$DOTNET_ROOT"

      - name: Unset DOTNET_ROOT to simulate its removal from image
        run: unset DOTNET_ROOT

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Show after-action DOTNET_ROOT
        run: |
          echo "After Action: DOTNET_ROOT=$DOTNET_ROOT"
          ls -la "$DOTNET_ROOT"

      - name: Verify dotnet --info
        run: dotnet --info
