name: Validate Dotnet Architectures

on:
  workflow_dispatch:

jobs:
  test-arch:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Download dotnet-install script
      - name: Download dotnet-install.ps1
        run: |
          Invoke-WebRequest https://dot.net/v1/dotnet-install.ps1 -OutFile dotnet-install.ps1

  
      - name: Install .NET 8 x64
        run: |
          pwsh ./dotnet-install.ps1 -Version 8.0.x -Architecture x64

      - name: Verify x64
        run: |
          echo "=== X64 Installed SDKs ==="
          dotnet --list-sdks

    
      - name: Install .NET 8 x86
        run: |
          pwsh ./dotnet-install.ps1 -Version 8.0.x -Architecture x86

      - name: Verify x86
        run: |
          echo "=== X86 Installed SDKs ==="
          dotnet --list-sdks
